<h1>Data Science Tools and Ecosystem<h1/>

<h4>In this notebook, Data Science Tools and Ecosystem are summarized<h4/>

<h4>Some of the popular languages that Data Scientists use are:<h4/>
    <ol>
        <li>python</li>
        <li>sql</li>
        <li>R</li>
        </ol>
    <strong>Objectives:</strong>
    <ul>
        <li>tools of data science</li>
        <li>jupter</li>
        <li>dataset</li>
    </ul>

<h4>Some of the commonly used libraries used by Data Scientists include:</h4>

<ul>
    <li>NumPy</li>
    <li>Matplotlib</li>
    <li>Pandas</li>
    </ul>

<table>
  <tr>
    <th>Data Science Tools</th>
      </tr>
      <td>pytorch</td>
      <td>Jupyter Notebooks</td>
      <td>MLFlow</td>
    
  
  
  </table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [2]:
# This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author : </h2>
abdullah